@import "tailwindcss";
@import "../src/backoffice/styles/globals.css";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-geist-sans), sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
